$primary-color: #F7DF94;
$secondary-color: #333333;
$tertiary-color: #F2F2F2;

$primary-text-color: #000000;
$secondary-text-color: #4F4F4F;
$tertiary-text-color: #828282;

$primary-font: 'Raleway';
$secondary-font: 'Montserrat';
